<div class="grid" *ngIf="data && data.race">
  <div class="col-12" *ngIf="{
      userVotes: userVotes$ | async,
      allDriverOptions: allDriverOptions$ | async,
      filteredDriverOptions: filteredDriverOptions$ | async
    } as data">
    <ng-container *ngIf="!(loadingCurrentUserVotes && loadingPossibleDrivers); else loadingScreen">
      <ng-container [ngTemplateOutlet]="votingScreen" [ngTemplateOutletContext]="data"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #votingScreen let-userVotes="userVotes" let-allDriverOptions="allDriverOptions" let-filteredDriverOptions="filteredDriverOptions">
  <app-vote-edit-form
    [userVotes]="userVotes"
    [allDriverOptions]="allDriverOptions ?? []"
    [filteredDriverOptions]="filteredDriverOptions ?? []"
    [saving]="saving"
    (formSubmit)="onSubmit()"
    (newVote)="onNewVote($event)"
  ></app-vote-edit-form>
</ng-template>

<ng-template #loadingScreen>
    <div class="loading flex justify-content-center align-content-center flex-wrap">
      <p-progressSpinner class="flex" ariaLabel="loading"></p-progressSpinner>
    </div>
</ng-template>
