<ng-container *ngIf="model">
  <p-card>
    <ng-template pTemplate="header">
      <div class="grid">
        <div class="col-9">
          <div class="p-card-title"> {{ model.race_name }} </div>
          <div class="p-card-subtitle ng-star-inserted"> {{ model.race_start_date | date }} - {{ model.race_end_date | date }} </div>
        </div>
        <div class="col-3">
          <p-button
            label="Edit"
            icon="pi pi-pencil"
            styleClass="p-button-secondary"
            [disabled]="!(currentUserIsModerator() | async)!"
            (click)="onEditRaceClick(model)"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <p>

        <ng-container *ngIf="!votingEnded">Voting ends </ng-container>
        <ng-container *ngIf="votingEnded">Voting ended </ng-container>
        <span [attr.title]="getVotingEndTime(model) | json">{{ formatDistance(getVotingEndTime(model)) }}</span>
    </p>
    <ng-template pTemplate="footer">
      <div class="grid">
        <div class="col-12">
          <ng-container *ngIf="!votingEnded">
            <p-button label="Add your vote" severity="success" *ngIf="!currentUserVoted"></p-button>
            <p-button label="Edit your vote" severity="warning" *ngIf="currentUserVoted"></p-button>
          </ng-container>
          <ng-container *ngIf="votingEnded">
            <p-button label="View Results" severity="info"></p-button>
          </ng-container>
        </div>
      </div>
    </ng-template>
</p-card>
</ng-container>
