<h1>Current Races</h1>
<div class="grid">
  <div class="col-4" *ngFor="let model of currentRaceModels$ | async">
    <ng-container *ngIf="{ currentUserVoted: hasUserVoted(model) | async, votingEnded: hasVotingEnded(model) } as data">
      <app-race-list-item [model]="model" [currentUserVoted]="data.currentUserVoted" [votingEnded]="data.votingEnded"></app-race-list-item>
    </ng-container>
  </div>
</div>
<div class="grid">
  <div class="col-offset-5 col-2">
    <p-button
      label="Add new Race"
      icon="pi pi-plus"
      styleClass="p-button-secondary"
      [disabled]="!(currentUserIsModerator() | async)!"
      (click)="onNewRaceButtonClick()"
    ></p-button>
  </div>
</div>
<h1>
  Older Races
  <a href="#" (click)="toggleShowOlderRaces($event)" (keyup.enter)="toggleShowOlderRaces($event)">
    <ng-container *ngIf="showOlderRaces">[hide]</ng-container>
    <ng-container *ngIf="!showOlderRaces">[show]</ng-container>
  </a>
</h1>
<div class="grid" *ngIf="showOlderRaces">
  <div class="col-4" *ngFor="let model of olderRaceModels$ | async">
    <ng-container *ngIf="{ currentUserVoted: hasUserVoted(model) | async, votingEnded: hasVotingEnded(model) } as data">
      <app-race-list-item
        [model]="model"
        [currentUserVoted]="data.currentUserVoted"
        [votingEnded]="data.votingEnded"
        (modelEdit)="onModelEdit()"
      ></app-race-list-item>
    </ng-container>
  </div>
</div>
