<ng-container *ngIf="ongoingRaceModels$ | async as ongoingRaceModels">
  <app-race-list-section
    title="Ongoing Race(s)"
    [models]="ongoingRaceModels"
    (modelEdit)="onModelEdit()"
    [itemsCanBeHidden]="false"
  ></app-race-list-section>
</ng-container>

<ng-container *ngIf="upcomingRaceModels$ | async as upcomingRaceModels">
  <app-race-list-section
    title="Upcoming Races"
    [models]="upcomingRaceModels"
    (modelEdit)="onModelEdit()"
    [itemsCanBeHidden]="false"
  ></app-race-list-section>
</ng-container>

<div class="grid">
  <div class="col-offset-5 col-2">
    <p-button
      label="Add new Race"
      icon="pi pi-plus"
      styleClass="p-button-secondary"
      [disabled]="!(currentUserIsModerator() | async)!"
      (click)="onNewRaceButtonClick()"
    ></p-button>
  </div>
</div>

<ng-container *ngIf="recentRaceModels$ | async as recentRaceModels">
  <app-race-list-section
    title="Recent Races"
    [models]="recentRaceModels"
    (modelEdit)="onModelEdit()"
    [itemsCanBeHidden]="false"
  ></app-race-list-section>
</ng-container>


<ng-container *ngFor="let year of getYears()">
  <ng-container *ngIf="getOlderRacesByYear(year) | async as olderRaceModels">
    <app-race-list-section
      [title]="'Older Races (' + year + ')'"
      [models]="olderRaceModels"
      (modelEdit)="onModelEdit()"
      [itemsVisibleByDefault]="false"
      (itemsVisibleToggled)="onOlderRacesItemsVisibleToggled(year)"
    ></app-race-list-section>
  </ng-container>
</ng-container>
